@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body, html {
    min-height: 100vh;
}

main {
    background-color: rgba(130, 146, 108, 0.308);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: rgb(36, 33, 33);
    width: 90vw;
    border-radius: 15px;
    box-shadow: 0px 2px 7px #000000b4;
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    color: white;
}

.material-symbols-outlined {
    font-size:  60px !important;
    margin-top: 20px;
}

.welcome-txt {
    font-weight: 350;
    margin: 20px;
}

.login {
    background-color: rgb(109, 128, 83);
    color: #ffffff;
    border-radius: 50px 0px 15px 15px;
    padding: 0px 20px;
    letter-spacing: 1px;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px 0px;
    font-weight: 350;
    gap: 35px;
}

label {
    border-bottom: 1px solid rgb(211, 228, 194);
    margin: 3px;
}

.campo {
    border: 2px solid rgba(223, 219, 212, 0.527);
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.288);
    padding: 4px;
    border-radius: 14px;
}


input {
    padding-left: 4px;
    letter-spacing: 1.4px;
    border: none;
    width: 100%;
    background-color: rgb(109, 128, 83);
    color: white;
}

input::placeholder {
    color: #ffffff93;
}

input:focus {
    outline: none;
}

.login-btn {
    background-color: rgb(36, 33, 33);
    color: white;
    border-radius: 7px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.774);
    padding: 15px;
    font-weight: 400;
    font-size: 1em;
    cursor: pointer;
}

.cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: smaller;
    padding: 6px;
}

.cadastro a {
    color: rgb(255, 255, 255);
}

 @media (min-width: 670px) {
    .container {
        display: flex;
        justify-content: center;
    }

    .welcome {
        width: 35%;
    }

     .login {
        border-radius: 15px;
        width: 65%;
    }
} 

@media (min-width: 1005px) {
   .container {
    background-image: url(img/login-register.webp);
    background-size: contain;
    max-width: 900px;
   }

   .welcome {
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(1.2px);
   }

}